@font-face {
    font-family: 'bebasregular';
    src: url('bebas-regular-webfont.woff2') format('woff2'),
         url('bebas-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    margin: 20px;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-family: "bebasregular";
    text-transform: uppercase;
    font-style: normal;
    margin-top: 0;
}
body > * {
    box-sizing: border-box;
    font-size: 1rem;
}
.items {
    display: flex;
    flex-direction: column;
}
.item {
    background: white;
    border-radius: 3px;
}
footer {
    display: flex;
}
footer .column {
    width: 33.33%;
}
footer a {
    text-decoration: none;
    color: gray;
}
@media (min-width: 650px) {
    body > * {
        box-sizing: border-box;
        font-size: 1.25rem;
    }
    .items {
        flex-direction: row;
    }
    .item {
        background: white;
        margin: 0 10px;
    }
}